<link rel="stylesheet" href="~/css/style_perfil.css">

@using Prototipo_BackEnd.Models
@{Usuario usuario = new Usuario();
Comentario comentario = new Comentario();
}

<body>
    <!-- Informações do Perfil (Profile) -->
    <div class="prof">
        <div class="content">
            <div class="flex-base">
                <picture class="prof-userimg">
                    <img src="~/img/Usuarios/@ViewBag.FotoLogado" alt="Foto de Perfil do Usário" style="width: 100%; border-radius: 50%;">
                </picture>
                <div class="prof-info">
                    <div class="username">
                        <h1>@ViewBag.UserNameLogado</h1>
                        <a asp-area="" asp-controller="Editar" asp-action=Listar><p>Editar Perfil</p></a>
                    </div>
                    <div class="info-social">
                        <p><span>@ViewBag.TotalPublicacoes</span> publicações</p>
                        <p><span>@ViewBag.SeguidoresLogado</span> seguidores</p>
                        <p><span>@ViewBag.SeguindoLogado</span> seguindo</p>
                    </div>
                    <div class="name-logout">
                        <h2>@ViewBag.NomeLogado</h2>
                        <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                    </div>
                </div>
            </div>
            <div class="hr-align">
                <hr>
            </div>
            <div class="pub-title">
                <img src="~/img/pub-icon.png" alt="Ícone das publicações" class="pub-icon">
                <h2>Publicações</h2>
            </div>
        </div>
    </div>
    
    @foreach (Publicacao publicacao in ViewBag.Publicacoes)
    {        
        <div class="align">
            <section class="pub-template">
                <picture class="info">
                    <img src="~/img/Publicacoes/@publicacao.Imagem" alt="Publicação do usuário" class="post">
                </picture>
                <div class="info-post">
                    <div class="perf-info-post">
                        <div class="content-image-perf">
                            <img src="../img/Usuarios/@ViewBag.FotoLogado" class="fotoperfil-post">
                        </div>
                        <!-- Nome - Região -->
                        <div class="perf-nomereg">
                            <h3>@publicacao.NomeUsuario</h3>
                            <p>@publicacao.LocalizacaoUsuario</p>
                        </div>
                    </div>
                    <div class="comentarios-publication">
                    <div class="comentarios">
                        <div class="comentarios-footer">
                            <p>@publicacao.NomeUsuario</p>
                            <p>@publicacao.Legenda</p> 
                        </div>
                    </div>
                </div>
                <div class="post-comentarios">
                    @{
                        foreach (Comentario comentario1 in ViewBag.Comentario)
                    {
                        if(comentario.IdPublicacao == publicacao.IdPublicacao){
                            <div class="comentarios-publication">
                                <div class="comentarios">
                                    <div class="comentarios-footer">
                                        <p>@comentario1.UserName</p>
                                        <p>@comentario1.Mensagem</p> 
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    }
                </div>
                </div>
            </section>
        </div>
        }
</body>

<script>
    function HeartClick(x) {
        if(
            x.classList.contains("fa-heart-o")
        ){
            x.classList.toggle("fa-heart-o", false);
            x.classList.toggle("fa-heart", true);
        }
        else{
            x.classList.toggle("fa-heart", false);
            x.classList.toggle("fa-heart-o", true);
        }
    }
    function CommentClick(x) {
        if(
            x.classList.contains("fa-comment-o")
        ){
            x.classList.toggle("fa-comment-o", false);
            x.classList.toggle("fa-comment", true);
        }
        else{
            x.classList.toggle("fa-comment", false);
            x.classList.toggle("fa-comment-o", true);
        }
    }
</script>
</html>