@using Prototipo_BackEnd.Models

<link rel="stylesheet" href="~/css/style_feed.css">

@{
    Usuario usuario = new Usuario();
    Publicacao publicacao1 = new Publicacao();
    ViewData["Title"] = "InstaDev";
}

<!-- Post - Section -->
<main class="postAndProfiles">
    <section class="post">
        <div class="content-post">
            <div class="image-post">
                <p>Poste uma foto em nossa Rede Social</p>
            </div>
            <hr>
            <form class="form-post"  method="POST" action='@Url.Action("Publicar")' enctype="multipart/form-data">
                <div class="inputs-text">
                    <input type="text" name="Legenda" placeholder="Digite a descrição da imagem" class="form-post-text">
                    <input type="text" name="Localizacao" placeholder="Localização" class="form-post-text">
                </div>
                <div class="form-post-file">
                    <label for="arquivo">Escolha a imagem</label>
                    <input type="file" name="Imagem" id="arquivo">
                    <button type="submit">Postar</button>
                </div>
            </form>
        </div>
    </section>

    <section class="profiles">
        <div class="content-profiles">
            <div class="content-image-post">
                <img src="~/img/Usuarios/@ViewBag.FotoLogado">
            </div>
            <div class="content-names">
                <p>@ViewBag.UserNomeLogado</p>
                <p>@ViewBag.NomeLogado</p>
            </div>
        </div>
        <div class="header-peoples">
            <p>Sugestões para você</p>
            <a href="#">Ver tudo</a>
        </div>

        @foreach (Usuario usuario1 in ViewBag.Usuarios)
        {
            if(usuario1.IdUsuario != int.Parse(ViewBag.IdUsuarioLogado)){
                <div class="profile-follow">
                <div class="first-profile">
                    <div class="first-profile-img">
                        <img src="~/img/Usuarios/@usuario1.Foto">
                    </div>
                    <div class="text-first-profile">
                        <a href="#">@usuario1.UserName</a>
                        <p>Sugestões para você</p>
                    </div>
                </div>
                <form class="second-profile" method="POST" action='@Url.Action("Seguir")' enctype="multipart/form-data">
                    <textarea class="idUsuario" name="IdUsuario">@usuario1.IdUsuario</textarea>
                    <button type="submit">Seguir</button>
                </form>
            </div>  
            } 
        }
    </section>
</main>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="itens-modal">
                <a data-toggle="modal" data-target="#modal2" data-dismiss="modal" >Denunciar</a>
                <a href="#">Deixar de Seguir</a>
                <a asp-area="" asp-controller="Feed" asp-action="Delete">Excluir publicação</a>
                <a href="#">Compartilhar em...</a>
                <a href="#">Copiar link</a>
                <a href="#">Incorporar</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">Cancelar</span></button>
          </div>
      </div>
    </div>
  </div>
</div>

@foreach (Publicacao publicacao in ViewBag.Publicacoes)
{
    <section class="publication">
        <div class="header-publication">

            <div class="user-publication-menu">
                <div class="user-publication">
                    <div class="user-image">
                        <a href="#"><img src="../img/Usuarios/@publicacao.ImagemUsuario"></a>
                    </div>
                    <div class="user-text">
                        <a href="#"><p>@publicacao.NomeUsuario</p></a>
                        <p class="location">@publicacao.LocalizacaoUsuario</p>
                    </div>
                </div>
                <div class="menu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">...</button>
                </div>
            </div>
            
        </div>
        <div class="image-publication">
            <img src="~/img/Publicacoes/@publicacao.Imagem">
        </div>
        <div class="footer-publication">
            <div class="actions-footer">

                <form method="POST" action='@Url.Action("Curtir")' enctype="multipart/form-data">
                    <textarea class="idpublicacao" name="IdPublicacao2">@publicacao.IdPublicacao</textarea>
                    <button type="submit"><img src="../img/publication-like.svg"></button>
                </form>

                <form class="comentario-footer" method="POST" action='@Url.Action("Comentar")' enctype="multipart/form-data">
                    <textarea class="idpublicacao" name="IdPublicacao">@publicacao.IdPublicacao</textarea>
                    <button type="submit"><img src="../img/publiction-comentario.svg"></button>
                    <input type="text" name="Comentario" placeholder="Comentar...">
                </form>
            </div>
            <div class="likes-footer">
            </div>
            <div class="comentarios-publication">
                <div class="comentarios">
                    <div class="comentarios-footer">
                        <p>@publicacao.NomeUsuario</p>
                        <p>@publicacao.Legenda</p> 
                    </div>
                </div>
            </div>

            @{
                foreach (Comentario comentario in ViewBag.Comentario)
            {
                if(comentario.IdPublicacao == publicacao.IdPublicacao){
                    <div class="comentarios-publication">
                        <div class="comentarios">
                            <div class="comentarios-footer">
                                <p>@comentario.UserName</p>
                                <p>@comentario.Mensagem</p> 
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form method="POST" action='@Url.Action("Denunciar")' enctype="multipart/form-data" class="modal-body">
                    <div class="input-motivo">
                        <label>Digite o motivo da denuncia</label>
                        <textarea name="Motivo"></textarea>
                    </div>
                    <div class="denunciar">
                        <a asp-area="" asp-controller="Feed" asp-action="Denunciar" style="color: red;">Denunciar</a>
                    </div>
                    <div class="cancelar-denuncia">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">Cancelar</span></button>
                    </div>
                </form>
                </div>
            </div>
            </div>

            }
        </div>
    </section>
}